body {
    font-family: 'Jersey 25', sans-serif;
    background-color: #191919;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: calc(100% + 0.2vw);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: -webkit-fill-available;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #191919;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ccc;
}

#result {
    margin-top: 20px;
    width: 80%;
    text-align: center;
    overflow: auto;
    height: 300px;
}

#result p {
    background-color: #535353;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerText {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 80%;
    text-align: left;
}

.grosContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 20px;
    
}

#guessForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

