#gameBoard {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  gap: 10px;
  justify-content: center;
  padding: 40px;
  transform: rotate(90deg);
  background: rgb(80 108 183);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.column {
  display: flex;
  flex-direction: column-reverse;
  margin: 2px;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: #FFF;
  border: 2px solid #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.cell:hover {
  box-shadow: 0 0 5px rgb(0, 0, 0);
}